<a href="https://colab.research.google.com/github/escape1001/ormcamp/blob/main/python/ormcamp_240103_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열

## 1. 문자열 자료형이란?
- 파이썬 문자열 특 : 연산 가능함(ㅋㅋㅋ왜죠..)
- 문자'열'이기 때문에 순회할 수 있는 객체임 (시퀀스 형 자료형)

In [3]:
# 1.1 문자열 생성 예제
example_1 = '문자열'
example_2 = "이렇게"

example_3 = '''
여러줄 입력 가능함
별일이다
'''

example_4 = """
여러줄 입력 가능함
별일이다222
"""

print(example_4);
example_3 # 이 경우 escape문자 같이 나옴(\n)

여러줄 입력 가능함
별일이다222

'\n여러줄 입력 가능함\n별일이다\n'

In [5]:
# 1.2 문자열 연산 예제
x = "hello"
y = "world"

print(f"덧셈 예제 : {x + y}")
print(f"곱셈 예제 : {x * 3}")

덧셈 예제 : helloworld
곱셈 예제 : hellohellohello

In [6]:
# 1.3 문자열 인덱싱 예제
s = '위니브 월드!'
print(s[0]) # '위'
print(s[-1]) # '!' 음수는 역순임

위
!

In [8]:
# 1.4.1 문자열 슬라이싱 예제
# [start:stop:step] 형태로 사용

s = 'weniv CEO licat'
print(s[6:]) # 출력 : CEO licat / 6번째 문자~끝까지
print(s[:]) # 출력 : weniv CEO licat / 전부
print(s[::-1]) # 출력 : tacil OEC vinew / 역순으로 전부
print(s[::2]) # 출력 : wnvCOlct / 두글자 단위로 건너뜀(공백도 포함!)

CEO licat
weniv CEO licat
tacil OEC vinew
wnvCOlct

In [11]:
# 1.4.2 문자열 슬라이싱 실무예제
# 아래 파일명을 확장자 떼고 슬라이싱 / 확장자만 슬라이싱
s = 'weniv_licat.png'

print(f"파일명 : {s[:-4]}")
print(f"확장가 : {s[-3:]}")

파일명 : weniv_licat
확장가 : png

---

# 형변환

- int() : 정수로 변환
- str() : 문자열로 변환
- float() : 실수로 변환
- list() : 리스트로 변환
- tuple() : 튜플로 변환
- dict() : 딕셔너리로 변환
- set() : 셋으로 변환

## 1. int()

In [14]:
# 1.1. 형변환 기본예제 : str -> int
# 잘못된 수행 예제
월급1 = input("월급을 입력하세요 : ")
연봉1 = 월급1 * 12
print(연봉1)

# 제대로 된 수행 예제 1
월급2 = int(input("월급을 입력하세요 : "))
연봉2 = 월급2 * 12
print(연봉2)

# 제대로 된 수행 예제 2
월급3 = input("월급을 입력하세요 : ")
연봉3 = int(월급3) * 12
print(연봉3)

월급을 입력하세요 : 500
500500500500500500500500500500500500
월급을 입력하세요 : 500
6000
월급을 입력하세요 : 500
6000

In [18]:
# 1.2. 형변환 기본예제 : float -> int
# 소수점 아래 버리고 정수 부분만 반환됨. 갯수같은 값 구할 때 사용
f = 3.141592
number = int(f)

print(number)

3

In [20]:
# 1.3. 형변환 기본예제 boolean -> int
true_int = int(True)
false_int = int(False)

print(true_int) # 1
print(false_int) # 0

# None의 경우엔 int 형변환 불가능!

1
0

## 2. string()

In [22]:
n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

'''
int는 str변환했다가 다시 int로 되돌릴 때 아무 영향 없으나
float형은 str변환 후 int형으로 변환할 때 소수점(.) 때문에 에러 가능성 있음
'''

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

'\nint는 str변환했다가 다시 int로 되돌릴 때 아무 영향 없으나\nfloat형은 str변환 후 int형으로 변환할 때 소수점(.) 때문에 에러 가능성 있음\n'

## 3. bool()

In [23]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' ')) # 공백문자 True
print("bool(''):", bool('')) # 공백도 없다 False
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0)) # 0은 False
print("bool(-1):", bool(-1)) # 음수값 True
print("bool(None):", bool(None)) # None은 False
print("bool([]):", bool([])) # 빈 리스트 False
print("bool(tuple()):", bool(tuple())) # 빈 튜플 False
print("bool({}):", bool({})) # 빈 딕셔너리 False
print("bool(set()):", bool(set())) # 빈 세트 False

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

## 4. float()

In [31]:
# 4.1 기본 float 형변환
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

# 4.2 특수 float 형변환
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

print(infinity)
print(neg_infinity)
print(not_a_number)
print(type(not_a_number))

# 4.3 묵시적 형변환
print(10 / 3) # 약수 아닌 경우 당연히 소수점 밑으로 떨어짐
print(10 / 1) # 약수 인 경우에도 뒤에 소수점 .0 붙음
print(10 // 1) # int로 나누고 싶다면 이렇게
print(type(10 / 1))
print(type(10 // 1))

10.0
10.0
3.14
inf
-inf
nan
<class 'float'>
3.3333333333333335
10.0
10
<class 'float'>
<class 'int'>

## 4. list()

In [5]:
입력금액 = int(input("금액을 입력하세요"))

오천원권 = 입력금액//5000
잔돈 = 입력금액 % 5000

천원권 = 잔돈 // 1000
잔돈 %= 1000

오백원권 = 잔돈//500
잔돈 %= 500

백원권 = 잔돈 // 100
잔돈 %= 100

print(f"오천원 {오천원권}장 / 천원 {천원권}장 / 오백원 {오백원권}개 / 백원 {백원권}개")

금액을 입력하세요1650
오천원 0장 / 천원 1장 / 오백원 1개 / 백원 1개

0104 실습

1. 사용자 입력 받기:
- input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
2. 문자열을 숫자로 변환:
- 입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
3. 산술 연산 수행:
- 변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
4. 문자열 길이 계산:
len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
5. 성인 여부 판단:
- 나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)
6. 결과 출력:
- 계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [11]:
이름 = input("이름을 입력해주세요 : ")
나이 = int(input("나이를 입력해주세요 : "))
내년나이 = 나이 + 1
이름길이 = len(이름)
성인여부 = 내년나이 >= 18

print(f"{이름}님의 이름길이는 {이름길이}자, 내년 성인 여부는 {성인여부}입니다.")

이름을 입력해주세요 : 김민지
나이를 입력해주세요 : 15
김민지님의 이름길이는 3자, 내년 성인 여부는 False입니다.