<a href="https://colab.research.google.com/github/escape1001/ormcamp/blob/main/python/ormcamp_240105_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 리스트
- 변경이 가능한 자료형
- 순서가 있는 자료형 (시퀀스형 자료형, 인덱싱, 슬라이싱)

# 1.1 리스트의 특징

In [ ]:
l = [10, 20, 30]

# 라인 수 길어질 때 엔터 권고사항

# 권고 1
l = [10,
     20,
     30]

l = [
    10,
    20,
    30
]

# 권고 2 (실무형)
l = [
    10,
    20,
    30, # 요 콤마가 json에선 에러내는 경우가 많음. 그치만 단축키 쓰다보면 이게 편한건 어쩔 수 X.. 포매터야 힘내
]

In [1]:
l = [10, 20, 30]
l[2] # 기본적으로 요렇게 인덱스로 불러올 수 있음

# 같은 순회 객체라 하더라도 str은 인덱싱 안됨!
s = 'hello world'
# s[0] = 'y' <- 에러남


# str으로 첫글자 바꾸고 싶으면 아싸리 이렇게
# 예시 1
s = s.replace('h', 'y')

# 예시 2
s = 'y' + s[1:]

In [ ]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:] # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됨
l[3:]
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

In [5]:
# 더하기빼기 곱하기 되는가?

l = [10, 20, 30]
# l + 100 # 에러남! 정수 더하기는 불가능
l + [100]
l + [100, 200]
l * 3 # 정수 곱하기는 가능!
# l * [1, 2] # 리스트 곱하기 불가능

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [7]:
# 리스트 곱하기는 매우 주의필요!
# 곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000

l
''' 이랗게 나올 것 같지만
    [[1, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]
    이렇게 나옴
    [[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]
'''

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기해달래.... 너흰 뭐니 텐서플로는 들어봤는데
# 인공지능 = 행렬의 연산이래. 나중에 이해가 되겠지~
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] #텐서(3차원 이상 행렬)

## 1.2 리스트 메소드

In [8]:
# append : 요소 추가하기
l = [10, 20, 30]
l.append(40) # 배열 맨 끝에 요소 추가하기

# 앞에다 넣는 방법 1
l = [1000] + l

# 앞에다 넣는 방법 2
x = 10000
l = [x] + l[:]

# 앞에다 넣는 방법 3
l.insert(0, 999)
l

[999, 10000, 1000, 10, 20, 30, 40]

In [11]:
# pop : 요소 꺼내기
l = [10, 20, 30, 40]
l.pop() # 뒤에서 값을 꺼내는 방법
l

l = [10, 20, 30, 40]
l.pop(0) # 앞에서 값을 꺼내는 방법
l

l = [10, 20, 30, 40]
l[:-1] # l = l[:-1]
l[1:] # l = l[1:]

[20, 30, 40]

In [12]:
# index : 원하는 값의 위치 찾기
l = [10, 20, 30, 40]
l.index(20)

# !!! index는 에러나니까 str에 find처럼 코드를 짜고 싶다면 슬라이싱 사용해~ !!!
# 슬라이싱은 index 벗어나도 에러가 없어요
l = [10, 20, 30, 40]
l[100:101]

1

In [10]:
# clear
l = [10, 20, 30, 40]
l.clear()

In [13]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll

id(l), id(ll)
l is ll

True

In [ ]:
# copy
l = [10, 20, 30, 40]
ll = l.copy()

ll[0] = 1000

l

[10, 20, 30, 40]

In [14]:
# count : 원하는 값 얼마나 있는지 세기
l = [1, 1, 1, 2, 2, 2, 3, 3]
l.count(1)

3

In [21]:
# count 이럴 때 쓸 수 있지롱~
# https://codingdojang.com/scode/393?answer_mode=hide
# 1에서 100까지 숫자 중 8이 몇개있니~
숫자범위_리스트 = list(range(101))
숫자범위_리스트
str(숫자범위_리스트).count('8')

20

In [22]:
# extend : list에 list 더하기
l = [10, 20, 30, 40]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [24]:
l = [10, 20, 30, 40]
l.extend('hello') # extend(보통리스트), extend(순회가능한객체)
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [25]:
# remove : 한가지 요소를 지울 때 사용
l = [1, 1, 1, 1, 2, 2, 3, 3, 3] # 맨 앞의 1 하나만 지워짐
l.remove(1)
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [26]:
# 1을 다 지우고 싶다면 remove가 아니라 filter 사용해~
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [ ]:
# reverse
l = [10, 20, 60, 30, 50, 40]
l.reverse()

print(l) # 역정렬은 아님, 역순임. # 원본이 변한다~

# 원본 바꾸기 싫으면 아래처럼 reversed 사용
l = [10, 20, 60, 30, 50, 40]

print(list(reversed(l)))

[40, 50, 30, 60, 20, 10]
[40, 50, 30, 60, 20, 10]

In [ ]:
# sort
l = [10, 20, 60, 30, 50, 40]
l.sort() # 원본을 바꾸는 정렬

print(l) # 원본이 변한다~

# 원본 바꾸기 싫으면 아래처럼 sorted 사용
l = [10, 20, 60, 30, 50, 40]

print(sorted(l)) # 얘는 형변환 안해도 되네.. 웃겨..

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [30]:
# sort, sorted, reverse, reversed 알고리즘 단골출제~ 예를들면 이런거
# 국어 점수가 가장 높은 순으로 정렬해주세요.
# 국, 영, 수, 이름
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True) # 와 이런것도 내장되어있네 .reverse 해야하는줄

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

# 튜플
- 순서가 없는 자료형입니다. (인덱싱, 슬라이싱)
- 참조 변경 불가 (값이 변경 불가하다고 하면 틀린얘기임)

list랑 비슷한데 소괄호 형태임.<br/>

t = (10, 20, 30) # 소괄호

In [32]:
# 1번째 왜 이런 자료형이 필요할까요?
# * 권한과 변경불가(시큐어 코딩), 형태 고정인 자료형(딕셔너리와 같은 것)

# 2번째 변경이 불가능한데 왜 '값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다'라고 얘기하셨나요?
a = [10, 20, 30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [33]:
a[0] = 1000 # 왜냐면 변수로 넣은 a에 값을 변결할 수 있으니까
b

([1000, 20, 30], 100, 200)

In [ ]:
t = (10, 20, 30)
dir(t)

'count'
'index'

t.count(10) # 10의 갯수를 반환
t.index(10) # 10의 위치를 반환

In [35]:
tuple([10, 20, 30])

# tuple(순회가능한객체)
# list(순회가능한객체)

tuple('hello world')
# list('hello world')

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

# 3. 딕셔너리
- Python 3.6버전 이상은 순서가 보장됨. but 실무에서 사용하는 버전은 생각보다 낮을 수 있음!<br/>
안된다~ 생각하는게 속편할듯
- key:value 쌍으로 이루어져 있음
- 딕셔너리 데이터 검색은 매우 빠르다!
- 딕셔너리 사용은 주의를 요합니다. key가 없는것을 호출할 경우 에러~

In [ ]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [ ]:
# d['three'] <- 요러면 에러~ get 메서드 사용을 권함.

d.get('three', '없는값입니다!') # <- 찾는 키 값이 있으면 반환, 없으면 두번째 파라미터의 내용 반환

'없는값입니다!'

In [ ]:
# 실무에서 스위치문 대신 요렇게 많이 쓴대~
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(3)

'수요일'

In [37]:
x = 5

{
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}.get(x, '요일없음')

'금요일'

In [ ]:
type(d) # dict
dir(d)

'__class__'
'__class_getitem__'
'__contains__'
'__delattr__'
'__delitem__'
'__dir__'
'__doc__'
'__eq__'
'__format__'
'__ge__'
'__getattribute__'
'__getitem__'
'__gt__'
'__hash__'
'__init__'
'__init_subclass__'
'__ior__'
'__iter__'
'__le__'
'__len__'
'__lt__'
'__ne__'
'__new__'
'__or__'
'__reduce__'
'__reduce_ex__'
'__repr__'
'__reversed__'
'__ror__'
'__setattr__'
'__setitem__'
'__sizeof__'
'__str__'
'__subclasshook__'
'clear'
'copy'
'fromkeys'
'get'
'items'
'keys'
'pop'
'popitem'
'setdefault'
'update'
'values'

'values'

In [ ]:
# 실제로 이와 같은 key: value 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬교안',
    'contents': '어쩌구저쩌구',
    'author': 'user1',
    'image': '/img/2024/jan/python.jpg',
}

게시물1['title']

'파이썬교안'

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d) # (132412221122496, 132412221122496)
dd is d # True

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': 'python', 'two': 'html'})

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

id(dd), id(d) # (132412222429760, 132412222429824)
dd is d # False

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': '하나', 'two': '둘'})

In [ ]:
# fromkeys 잘 안쓰긴하는데..
# dict에서 key만 뽑아오기~
d = {'one': '하나', 'two': '둘'}
dict.fromkeys(d)
dict.fromkeys(d, "test value")

{'one': 'test value', 'two': 'test value'}

In [ ]:
# items
d = {'one': '하나', 'two': '둘'}

d.items() # dict_items이라는 타입을 가짐 / [('one', '하나'), ('two', '둘')]

# d.items()[0] <- 요런식의 호출은 오류~ 인덱싱과 슬라이싱 안됨~

a, b = d.items() # 요래 언패킹을 해줘야 호출 가능
a

for i, j in d.items() : # 순회는 가능~
    print(f"출력 : {i, j}")

출력 : ('one', '하나')
출력 : ('two', '둘')

In [ ]:
d.keys() # dict_keys라는 타입을 가짐 / ['one', 'two']
d.values() # dict_values이라는 타입을 가짐 / ['하나', '둘']

dict_keys(['one', 'two'])

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d.setdefault('four', 4) # 키가 있으면 그 값을 출력하고, 없으면 해당 키를 삽입하고 4를 출력함.

4

In [ ]:
# pop의 경우 논란의 여지가 많음. 비추천~
# dict를 순서 있는 객체로 본건 최신버전에서부터.
# 그럼 '마지막 순서'란 개념도 애매해진다.

#pop
d = {'one': '하나', 'two': '둘'}
# d.pop() # 에러
# d.pop('three') # 에러

#popitem
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 될 것.

('two', '둘')

In [ ]:
# update
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'})
# 있는 key값인 one은 수정되고 없는 key값인 three는 추가된다.

d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [ ]:
# 신규문법! (3.9) 세상 최신문법이라 책에 잘 안나온대
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd <- 이거 왜 안되는데~ list는 +로 추가해주잖아~
print(d | dd) # <- 이렇게 연결하래ㅋㅋㅋㅋ 골때리게 생겼네

# update랑 같은 기능이라서 있는 키 수정도 됨
d = {'one': '하나', 'two': '둘'}
dd = {'one': 'pythonnnn', 'three': '셋'}

print(d | dd)

{'one': '하나', 'two': '둘', 'three': '셋'}
{'one': 'pythonnnn', 'two': '둘', 'three': '셋'}

# 3. Set
- 중복을 허락하지 않는 자료형
- 순서가 없는 자료형
- 집합 : 합집합, 차집합, 교집합

In [ ]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s+ss # 에러난다~
s | ss # 합집합
s - ss # 차집합
s & ss # 교집합

{3, 4, 5}

In [ ]:
dir(s) # 요거 쳐서  '__iter__' 나오면 순회할 수 있는 객체임

''' 여러 메소드들이 있겠으나 실제로 자주 쓰는건 아래 3개정도.
    그나마도 위의 예제처럼 기호로 축약할 수 있어

    'difference',
    'intersection',
    'union'
'''

In [ ]:
s.difference(ss) # 차집합
s.intersection(ss) # 교집합
s.union(ss) # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 요 set를 언제 쓰느냐~
set('1231231231231123') # 중복값 제거할때
set(map(int, set('1231231231231123'))) # 이러면 int형으로 변환해서 얻을 수 있지롱
sum(map(int, set('1231231231231123'))) # 이러면 중첩안된 숫자들만 더할수도 있음

6

In [ ]:
# 막간 sum얘기
sum([10, 20, 30]) # 됨. 60
# sum(10, 20, 30) # 안됨. 순회가 가능하지않음

sum([10, 20, 30], 100) # 순회가능한 객체 + 초깃값 = 160
sum([10, 20, 30], 100) # 순회가능한 객체 + 초깃값

# sum([[10, 20], [30, 40], [50, 60]]) # 안됨.
sum([[10, 20], [30, 40], [50, 60]], []) # 평탄화가 됨! [10, 20, 30, 40, 50, 60]
# [] + [10 + 20] == [10, 20]
# [10 + 20] + [30, 40] ==  [10, 20, 30, 40]

[10, 20, 30, 40, 50, 60]

# 자료형은 아니지만.. in
순회 객체에 이거 있는지 확인해죠~

In [ ]:
'h' in 'hello' # True

x = 10
x in [10, 20, 30, 40, 50] # True

# 부정형 not in
x = [10, 20, 30]
x not in [[10, 20], [20, 30], [30, 40, 50]] # 없으니까 True

True