<a href="https://colab.research.google.com/github/escape1001/ormcamp/blob/main/python/ormcamp_240108_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 내장함수 (built-in function)
[공식문서](https://docs.python.org/3/library/functions.html)에 있는 빌트인 함수 중 코딩할 때 자주 등장하며 실무에서도 비중있게 다뤄야 하는 빌트인 함수를 선별해 보았습니다. 다만 실무자라면 모든 빌트인 함수를 한번씩은 작동해보는 것을 권합니다.

```
# 요소 전체의 True, False 판별
all
any

# 숫자를 문자로 바꾸거나 문자를 숫자로 바꾸는 함수
chr
ord

# 함수와 순회할 수 있는 객체의 연산
map
filter

# 순회할 수 있는 객체의 묶음
zip

# 형식 변환
format

# 길이 반환
len

# 큰 값, 작은 값, 다 더한 값
max
min
sum

# 문자열, 대표 문자열, 문자열 출력
str
repr
print

# 순회할 수 있는 객체
enumerate
range

# 역순과 정렬
reversed
sorted
```

In [ ]:
# 1. all : 모두 다 True여야 True 반환
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

In [ ]:
# 2. any : 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

In [2]:
# 3. chr : 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65) # 출력: 'A'
chr(97) # 출력: 'a'
chr(54616) # 출력: '하'

'하'

In [4]:
# 4. ord : 문자를 입력하면 유니코드에서 숫자로 출력합니다.
ord('a') # 출력: 97
ord('하') # 출력: 54616


''' 사실 int도 ord와 같은 기능을 함
    다음과 같이 활용하면 '하' 문자의 유니코드 값을 나타냅니다.
    int 함수를 사용하여 이 값을 10진수로 변환하면 54616이 됩니다.
'''
int('D558', 16) # 출력: 54616

54616

In [9]:
# 5. map : 자바스크립트랑 똑같음. 순회하면서 함수 적용함.
# map(함수, 리스트 혹은 튜플)
# 차이가 있다면 map객체는 list로 감싸줘야 함
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

# lambda 사용한 예시
list(map(lambda x : x ** 2, [2, 3, 4, 5])) # 출력: [4, 9, 16, 25]

[4, 9, 16, 25]

In [ ]:
# 6. filter() : 자바스크립트랑 똑같음. 순회하면서 조건에 맞는 애만 뱉어냄
# filter(조건 함수, 리스트 또는 튜플)
# 조건 함수는 각 요소를 입력으로 받아 True 또는 False 값을 반환합니다.
# filter() 함수는 True를 반환하는 요소만 선택하여 결과로 반환합니다.

list(filter(lambda x : x > 50, range(100))) # 0~99까지 숫자 중 50보다 큰 값만 뱉어라

In [19]:
# 7. zip() : 여러 순회객체의 값을 순서대로 묶어서 반환
# zip(순회할 수 있는 객체1, 순회할 수 있는 객체2...)
# 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다.

zip('ab', '12') # 출력: <zip at 0x7b9d83c6e440>
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

# 각 요소의 길이가 다를 경우엔 가장 짧은것을 기준으로 뱉어줌.
list(zip('abc', '1234567', [10, 20, 30])) # 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

# 사용예시 1 : 이름-점수 엮기
학생이름 = ["철수", "영희", "민수"]
국어점수 = [50, 74, 99]
list(zip(학생이름, 국어점수)) # 출력: [('철수', 50), ('영희', 74), ('민수', 99)]

# 사용예시 2 : 인접한 수 뱉어내기
x = [2, 4, 8, 16, 32, 64, 128]
list(zip(x, x[1:], x[2:]))

[(2, 4, 8), (4, 8, 16), (8, 16, 32), (16, 32, 64), (32, 64, 128)]

In [21]:
# 8. format() : 값을 특정 양식에 맞춰서 출력. 주로 숫자 콤마찍는 데 사용~
# format(값, '서식 지정자(format_spec)')
format(10000, ',') # 10,000
print(format(123.4567, '.2f')) # 출력: 123.46
print(format('Hello', '^9')) # 출력: '  Hello  '

123.46
  Hello

In [24]:
# 9. len() : 객체의 길이를 반환
# len(길이를 계산하려는 객체)
len('hello world') # 공백까지 11글자

# 모든 객체의 길이 반환하지 않음. 아래 경우 에러남
# len(zip('ab', '12')) # error

11

In [45]:
# 10. max, min : 최댓값, 최솟값 하나 리턴

# 10.1. max(순회할 수 있는 객체, 함수(key), 초기값(default))
max([1, 2, 3, 4, 5]) # 출력 : 5
max([(1, 2), (3, 101), (1, 20), (3, 100)]) # 출력 : (3,101)
max(['hello', 'world', 'world1']) # 출력 : world1
# ‘world’는 ‘world1’과 ‘world’까지의 문자열이 같으며 길이가 world1이 더 깁니다. 이럴 경우 world1을 출력합니다.

# default로 기본값 반환 가능
numbers = []

max(numbers, default=0) # 출력: 0
# max(numbers) # 이러면 에러

# key값을 기준으로 정렬할 수도 있음
students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]

max(students, key=lambda student: student['수학']) # 출력: {'이름': '가', '국어': 90, '영어': 72, '수학': 95}

''' 위와 같은 내용 lambda 쓰지 않고 함수형으로 구현하면 아래와 같음
    def select(student):
        return student['수학']

    students = [
        {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
        {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
        {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
    ]


    max(students, key=select) # 출력: {'이름': '가', '국어': 90, '영어': 72, '수학': 95}
'''

# 10.2. min(순회할 수 있는 객체, 함수(key), 초기값(default))
min(students, key=lambda student: student['수학']) # 출력: {'이름': '나', '국어': 80, '영어': 90, '수학': 91}

{'이름': '나', '국어': 80, '영어': 90, '수학': 91}

In [51]:
# 11. sum() : 순회 객체의 모든 값을 더해서 리턴
# sum(iterable, start=0)
sum([1, 2, 3, 4, 5]) # 출력: 15
sum([1, 2, 3], 10) # 출력: 16 / 다 더해버려~

sum([[1, 2], [10, 20], [100, 200]], []) # 출력: [1, 2, 10, 20, 100, 200]

''' 초기값이 []이기 때문에 아래와 같이 더해짐
    [] + [1, 2]
    [1, 2] + [10, 20]
    [1, 2, 10, 20] + [100, 200]
    [1, 2, 10, 20, 100, 200]
'''

# 만약 여러 배열 합치고 총합 값을 구하고 싶다면?
# 11.1. sum으로 한번 더 감싸줘~
sum(sum([[1, 2], [10, 20], [100, 200]], [])) # 출력: 333

# 11.2. 아니면 numpy를 가져오던가
import numpy as np

np.sum([[1, 2], [10, 20], [100, 200]]) # 출력 : 333

333

In [53]:
# 12. print, repr
# print 함수는 Python의 내장 함수로, 객체를 문자열 형태로 출력하는 기능을 합니다.
# repr 함수는 Python의 내장 함수로, 객체의 "공식" 문자열 표현을 가져옵니다.
class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Charactor()
print(hero) # __str__ 출력 : 'world'
repr(hero) # (__repr__ 메서드 호출로 인해) 출력 : hello

world

'hello'

In [ ]:
# 13. range() : 순회할 수 있는 숫자 객체 만들어줌
# 파이썬 2버전까지만 해도 list 반환했지만 이젠 range라는 객체 반환함
# range(start, stop, step)

# 13.1 range 사용 예시
range(1, 10, 2) # 출력: range(1, 10, 2)
list(range(1, 10, 2)) # 출력: [1, 3, 5, 7, 9]
print(list(range(100))) # 출력: [0, 1, 2, 3, 4, ... ,95, 96, 97, 98, 99]
print(list(range(5, 10))) # 출력: [5, 6, 7, 8, 9]

# 자주 사용하진 않지만.. step에 음수값도 사용할 수 있음.
print(list(range(100, 1, -2))) # 출력: [100, 98, 96, ... , 8, 6, 4, 2]


# 13.2 range 자료형 특징
# 순회 가능! 슬라이싱, 인덱싱 가능! len으로 길이 반환 가능! in으로 멤버십 테스트 가능! 반복 가능!
range(10)[3] # 인덱싱 예시, 숫자 3 반환
range(10)[3:7] # 슬라이싱 예시, range(3, 7) 반환
len(range(10)) # 인덱싱 예시, 0~9까지 있으므로 10 반환
5 in range(10) # 멤버십 테스트 예시, True 반환
for i in range(3): print(i) # 반복문 예시, 순서대로 0, 1, 2 출력함

In [26]:
# 14. enumerate() : 반복할 수 있는 객체의 인덱스와 값을 함께 반환
# 함수의 두 번째 인자를 통해 시작 인덱스를 지정할 수 있습니다.
# 이를 활용하여 반복문 내에서 인덱스와 값에 동시에 접근하는 것이 가능합니다.
# 자바스크립트에서 배열 map 돌릴 때 index 얻어오는거랑 비슷하다!
# 얘도 list로 감싸줘야 함

values = ['A', 'B', 'C', 'D']
print(list(enumerate(values))) # [(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
print(list(enumerate(values, 1))) # [(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
print(list(enumerate(values, 100))) # [(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [62]:
# 15. sorted() : 순회객체 내 요소를 정렬
# 원본을 수정하지 않고 새로운 값을 리턴함

# 15.1. sorted 예시
l = [1, 2, 100, 200, 3, 4, 10, 20]

sorted(l) # [1, 2, 3, 4, 10, 20, 100, 200]
sorted(l, reverse=True) # [200, 100, 20, 10, 4, 3, 2, 1]

l # [1, 2, 100, 200, 3, 4, 10, 20]

# 15.2. key값 예시
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']

시험결과 = [
    {
        "이름" : "철수",
        "국어" : 80,
        "영어" : 74,
        "수학" : 94,
    },
    {
        "이름" : "영희",
        "국어" : 99,
        "영어" : 64,
        "수학" : 84,
    },
    {
        "이름" : "민수",
        "국어" : 44,
        "영어" : 74,
        "수학" : 68,
    },
]

sorted(시험결과, key=lambda x:x["국어"], reverse=True)
''' 국어 점수 높은 순으로 출력됨
    [{'이름': '영희', '국어': 99, '영어': 64, '수학': 84},
    {'이름': '철수', '국어': 80, '영어': 74, '수학': 94},
    {'이름': '민수', '국어': 44, '영어': 74, '수학': 68}]
'''

[{'이름': '영희', '국어': 99, '영어': 64, '수학': 84},
 {'이름': '철수', '국어': 80, '영어': 74, '수학': 94},
 {'이름': '민수', '국어': 44, '영어': 74, '수학': 68}]

In [65]:
# 16.reversed : 순회객체 내 요소를 거꾸로 뒤짐음
# 원본을 수정하지 않고 새로운 값을 리턴함
list(reversed('hello world')) # ['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']
list(reversed([1, 2, 3, 10, 5, 4])) # [4, 5, 10, 3, 2, 1] / 역정렬 아닙니다! 역순입니다.
list(reversed(sorted([1, 2, 3, 10, 5, 4]))) # 역정렬을 원한다면 이런느낌.. 이지만 걍 sorted에서 reverse=True 쓰는게..

[10, 5, 4, 3, 2, 1]